DATABASE_URL=sqlite:///database.db #! НЕ ИСПОЛЬЗОВАТЬ В РЕАЛЬНОМ ПРОЕКТЕ. SQLITE НЕ ПОДХОДИТ ДЛЯ КОНКУРЕТНОНЙ ЗАГРУЗКИ

ACCESS_TOKEN_SECRET=access_token_secret_example #! НЕ ИСПОЛЬЗОВАТЬ В РЕАЛЬНОМ ПРОЕКТЕ. НЕОБХОДИМО СГЕНЕРИРОВАТЬ СВОЙ СЕКРЕТ
ACCESS_TOKEN_EXPIRE_MINUTES=15 # 15 минут

REFRESH_TOKEN_SECRET=refresh_token_secret_example #! НЕ ИСПОЛЬЗОВАТЬ В РЕАЛЬНОМ ПРОЕКТЕ. НЕОБХОДИМО СГЕНЕРИРОВАТЬ СВОЙ СЕКРЕТ
REFRESH_TOKEN_EXPIRE_MINUTES=10080 # 7 дней
REFRESH_TOKEN_HMAC_SECRET=refresh_token_hmac_secret_example #! НЕ ИСПОЛЬЗОВАТЬ В РЕАЛЬНОМ ПРОЕКТЕ. НЕОБХОДИМО СГЕНЕРИРОВАТЬ СВОЙ СЕКРЕТ

JWT_ALGORITHM=HS256